.fabric
.mixin.out
.replay_cache
backup
build/temp
build/temp_server_pack.zip
config/chunky/tasks
config/fabric/indigo-renderer.properties
config/indium-renderer.properties
config/iris.properties
config/ironchests/defaults.properties
config/languagereload.json
config/modernfix-mixins.properties
config/powah.json5
config/resourceful-config-web.json
config/roughlyenoughitems/*
config/roughlyenoughitems/favorites.json5
config/roughlyenoughitems/pinyin_double.properties
config/roughlyenoughitems/pinyin.properties
config/sodium-extra-options.json
config/sound_physics_remastered/*
config/sound_physics_remastered/occlusion.properties
config/sound_physics_remastered/reflectivity.properties
config/stack-to-nearby-chests/locked-slots
crash-reports
data
Distant_Horizons_server_data
ESM
fancymenu_data
journeymap/journeymap.log
logs
modernfix/structureCacheV1
options.txt
replay_recordings
resourcepacks
saves
screenshots
servers.dat
servers.dat_old
shaderpacks
usercache.json
usernamecache.json