.fabric
.mixin.out
.replay_cache
config/chunky/tasks
config/iris.properties
config/resourceful-config-web.json
config/roughlyenoughitems
config/stack-to-nearby-chests/locked-slots
backup
build
crash-reports
data
ESM
fancymenu_data
logs
mods
options.txt
replay_recordings
resourcepacks
saves
screenshots
shaderpacks
usercache.json
usernamecache.json
xaero
XaeroWaypoints_BACKUP*
